.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.start{
  text-decoration: none;
  background: #9f1111;
  padding: 10px 30px;
  color:white;
  border-radius: 5px;

}

.start:hover{
  scale:1.1;
  box-shadow: rgba(190, 35, 35, 0.2) 2px 8px;
  transition-duration: 300ms;
}

.title{
  font-size: 42px;
  color:rgba(1,1,1,0.5);
}

.author{
  text-align: right;
}
