body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    
    padding: 10px;
    
}
#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    width: 544px;
    height: 544px;
    
}
#game-board .cell{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#game-board img{
    width: 100px;
    height: 100px;
}
#image-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cell{
    width: 100px;
    height: 100px;
    background-size: cover;
    
}
button{
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
}