<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../css/game.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
<div class="back">
  <a class="back-link" href="./start.html">Назад</a>
</div>

<div class="game-container">
  <div class="board">
  </div>
  <div class="game">
    <button class="restart-button">Почати з початку</button>
  </div>
  <div id="dialog"></div>
</div>

<script src="../js/game.js"></script>
</body>
</html>
