<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="../css/index.css">
  <title>Document</title>
</head>
<body>
<br>
<a class="start" href="../index.html">back</a>

<div class="container">

  <div class="game-container">

  </div>

  <div class="control-container">
    <div class="score">
      <p>Score:<span id="score-span">0</span></p>
    </div>
    <div class="draggable-cell">
    </div>
    <button class="start" id="start-again">Start again</button>
  </div>

</div>

<div id="dialog" title="Wrong answer">
  <p>You have been chosen wrong image! Try again...</p>
</div>

<script src="../js/index.js"></script>
</body>
</html>
